
body {
margin: 0;
padding: 20px;
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}

h1 {
text-align: center;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
border-radius: 10px; /* 角丸の追加 */
overflow: hidden; /* 角丸の影響でテーブルの中身がはみ出さないようにする */
}

th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

th {
background-color: #f2f2f2;
}

p.date {
    font-size: 20px;
    font-family: serif;
    color: black;
}

h1.title {
    font-family: serif;
}